<!DOCTYPE html>
<html>
<head>
    <title>Add New Class</title>
</head>
<body>
    <h1>Add New Class</h1>
    <form method="post">
        <label for="name">Nome do Curso:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="name">Código do Curso:</label><br>
        <input type="text" id="course_code" name="course_code"><br>
        <label for="name">Código da Turma:</label><br>
        <input type="text" id="course_class" name="course_class"><br>
        <label for="secret">Secret Code:</label><br>
        <input type="text" id="secret" name="secret"><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>
